.vscode
.pytest_cache
__pycache__
/data/
/venv/
/backend/__pycache__
/backend/models/__pycache__
/backend/test/.pytest_cache

frontend/.DS_Store
frontend/node_modules
frontend/dist

.ipynb_checkpoints

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

log
src/data_collect_manager/node_modules
.coverage
htmlcov
*.log
node_modules
cron_job.sh
src/utils/rawdata_importer.py
app_config_dev.json
src/utils/contour_data.py
notebooks/jupyter2kibana
notebooks/*-Copy*.ipynb
notebooks/adhoc