.pytest_cache
.mypy_cache
__pycache__
/data/
/venv/
/backend/__pycache__
/backend/models/__pycache__
/backend/test/.pytest_cache

frontend/.DS_Store
frontend/node_modules
frontend/dist

.ipynb_checkpoints

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.coverage
htmlcov
*.log
node_modules
notebooks/jupyter2kibana
notebooks/*-Copy*.ipynb
notebooks/adhoc
*.csv
backend/app/dist
notebooks/20210810
.env.production