[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pytest = "*"
elasticsearch = "*"
flake8 = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
mypy = "*"
mypy-extensions = "*"
numpy = "*"
pandas = "*"
pytz = "*"
pyyaml = "*"
toml = "*"
tqdm = "*"
types-python-dateutil = "*"
types-pyyaml = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
