<!DOCTYPE html>
<title>Data Collect Manager</title>

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager.css') }}">
</head>

<body>
    <div id="main">
        <div class="title-label">
            データ収集 管理画面
        </div>
        {% if not is_started %}
        <div class="buttons">
            <button id="setup" class="btn btn-primary">生データ送信開始</button>
            <button id="start" class="btn btn-success" style="display: none;">測定開始</button>
            <button id="stop" class="btn btn-danger" style="display: none;">測定終了</button>
            <button id="pause" class="btn btn-warning" style="display: none;">中断</button>
            <button id="resume" class="btn btn-info" style="display: none;">再開</button>
        </div>
        <p id="status-message">測定していません</p>
        <div>
            <form id="tag">
                <input id="tag-text" type="text" disabled>
                <button id="record-tag" disabled>事象記録</button>
            </form>
        </div>
        {% else %}
        <div class="buttons">
            <button id="setup" class="btn btn-primary" style="display: none;">生データ送信開始</button>
            <button id="start" class="btn btn-success" style="display: none;">測定開始(再開)</button>
            <button id="stop" class="btn btn-danger">測定終了</button>
            <button id="pause" class="btn btn-warning">中断</button>
            <button id="resume" class="btn btn-info" style="display: none;">再開</button>
        </div>
        <p id="status-message">中断中です（生データ送信中）</p>
        <div>
            <form id="tag">
                <input id="tag-text" type="text">
                <button id="record-tag">事象記録</button>
            </form>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='bootstrap/js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/manager.js') }}"></script>
</body>