{% extends "layout.html" %}
{% block body %}

<table>
    <tr>
        <th>Index</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>成形機名</th>
        <th>金型名</th>
        <th>材料名</th>
        <th>終了状態</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ d['start_time'] | tolocaltime }}</td>
        <td>{{ d['end_time'] | tolocaltime }}</td>
        <td>{{ d['molding_machine_name'] }}</td>
        <td>{{ d['mold_name'] }}</td>
        <td>{{ d['material_name'] }}</td>
        <td>{{ d['anormaly_name'] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}